.container {
    text-align: center;
    padding: 20px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #e6f7ff;
    min-height: 100vh;
}
  
  h2 {
    color: #333;
  }
  
  .short-url {
    margin: 20px 0;
    font-size: 1.2em;
    color: #007bff;
    text-decoration: none;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }